<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 70.3 MB/s eta 0:00:00
Downloading numpy-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 87.3 MB/s eta 0:00:00
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.3 pandas-2.2.3 tzdata-2025.1
Collecting matplotlib
  Downloading matplotlib-3.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.56.0-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (101 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.2 kB)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.2.3)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.1.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 64.8 MB/s eta 0:00:00
Downloading contourpy-1.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (323 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.56.0-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 59.5 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 68.5 MB/s eta 0:00:00
Downloading pillow-11.1.0-cp312-cp312-manylinux_2_28_x86_64.whl (4.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 48.9 MB/s eta 0:00:00
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.56.0 kiwisolver-1.4.8 matplotlib-3.10.0 pillow-11.1.0 pyparsing-3.2.1

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [36]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [37]:
# Write your code here

# Display data types and non-null counts for each column
print("Data Types and Non-Null Counts:")
df.info()

# Display missing values for each column
print("\nMissing Values per Column:")
missing_values = df.isnull().sum()
print(missing_values)

Data Types and Non-Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65457 entries, 0 to 65456
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB

Missing Values per Column:
ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10637
                       ...
JobSatPoints_11        36006
SurveyLength            9259
SurveyEase              9202
ConvertedCompYearly    42020
JobSat                 36326
Length: 114, dtype: int64

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [5]:
# Write your code here

# Generate basic statistics for numerical columns
numerical_stats = df.describe()

# Display the statistics
print(numerical_stats)

         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65457.000000   3.374400e+04  29664.000000    29330.000000
mean   32714.493591  2.963490e+145     11.466323       18.578998
std    18892.431636  5.443794e+147      9.168205       25.965347
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16354.000000   6.000000e+04      4.000000        0.000000
50%    32716.000000   1.100000e+05      9.000000       10.000000
75%    49076.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29399.000000    29417.000000    29456.000000    29454.000000
mean         7.520604       10.059485       24.339971       22.964277
std         18.421094       21.831924       27.088870       27.017634
min          0.000000        0.000000        0.000000        0.000000
25%          0.000000        0.000000        0.000000        0.000000
50%          0.000000        0.000000       20.000000       15.000000
75%          5.000000       10.000000       30.000000       30.000000
max        100.000000      100.000000      100.000000      100.000000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29462.000000    29462.000000     29456.000000     29451.000000
mean        20.279127       16.167837        10.953481         9.953618
std         26.110706       24.844177        22.904463        21.775070
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343700e+04  29131.000000
mean          8.615893e+04      6.934915
std           1.867532e+05      2.088356
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.080000e+05      8.000000
max           1.625660e+07     10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [38]:
# Write your code here


# Check for empty or null values
empty_or_null = df[df['Country'].isnull() | (df['Country'] == '')]

#Check for leading or trailing spaces
leading_trailing_spaces = df[df['Country'].str.strip() != df['Country']]

# Check for irrelevant entries (common placeholders)
irrelevant_entries = df[df['Country'].isin(['N/A', 'None', 'Unknown', 'Unspecified', 'Other'])]

# 5. Check for inconsistent capitalization
inconsistent_capitalization = df[df['Country'] != df['Country'].str.title()]

# Print the inconsistent or irrelevant entries found in each category
print("Empty or null entries:\n", empty_or_null['Country'], "\n")
print("Entries with leading/trailing spaces:\n", leading_trailing_spaces['Country'], "\n")
print("Entries with irrelevant placeholders:\n", irrelevant_entries['Country'], "\n")
print("Entries with inconsistent capitalization:\n", inconsistent_capitalization['Country'], "\n")

Empty or null entries:
 43448    NaN
43454    NaN
43459    NaN
43460    NaN
43461    NaN
        ...
65432    NaN
65433    NaN
65434    NaN
65436    NaN
65448    NaN
Name: Country, Length: 6508, dtype: object

Entries with leading/trailing spaces:
 43448    NaN
43454    NaN
43459    NaN
43460    NaN
43461    NaN
        ...
65432    NaN
65433    NaN
65434    NaN
65436    NaN
65448    NaN
Name: Country, Length: 6508, dtype: object

Entries with irrelevant placeholders:
 Series([], Name: Country, dtype: object)

Entries with inconsistent capitalization:
 0                                 United States of America
1        United Kingdom of Great Britain and Northern I...
2        United Kingdom of Great Britain and Northern I...
5                                 United States of America
6                                 United States of America
                               ...
65443                             United States of America
65445    United Kingdom of Great Britain and Northern I...
65447                         Iran, Islamic Republic of...
65448                                                  NaN
65450                             United States of America
Name: Country, Length: 21595, dtype: object

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [39]:
## Write your code here

# Standardize Country column by mapping inconsistent entries to a consistent format
country_mapping = {
    ' USA': 'USA', 
    'United States': 'USA',
    'United States of America': 'USA',
    'United Kingdom of Great Britain and Northern Ireland': 'UK',
    'Iran, Islamic Republic of Iran': 'Iran'
}

df['Country'] = df['Country'].replace(country_mapping)

print(df['Country'])

0            USA
1             UK
2             UK
3         Canada
4         Norway
          ...
65452    Germany
65453    Morocco
65454    Nigeria
65455    Germany
65456     Canada
Name: Country, Length: 65457, dtype: object

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [40]:
## Write your code here

df_encoded = pd.get_dummies(df, columns=['Employment'], drop_first=False)
df_encoded.head()

,ResponseId,MainBranch,Age,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,TechDoc,...,"Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time","Employment_Student, full-time;Not employed, but looking for work;Retired","Employment_Student, full-time;Not employed, but looking for work;Student, part-time","Employment_Student, full-time;Retired","Employment_Student, full-time;Student, part-time","Employment_Student, full-time;Student, part-time;Employed, part-time","Employment_Student, full-time;Student, part-time;Retired","Employment_Student, part-time","Employment_Student, part-time;Employed, part-time","Employment_Student, part-time;Retired"
0,1,I am a developer by profession,Under 18 years old,Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1,2,I am a developer by profession,35-44 years old,Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,...,False,False,False,False,False,False,False,False,False,False
2,3,I am a developer by profession,45-54 years old,Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,...,False,False,False,False,False,False,False,False,False,False
3,4,I am learning to code,18-24 years old,NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,NaN,...,False,False,False,False,False,False,False,False,False,False
4,5,I am a developer by profession,18-24 years old,NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,API document(s) and/or SDK document(s);User gu...,...,False,False,False,False,False,False,False,False,False,False

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [41]:
## Write your code here

# Count missing values for each column
missing_values = df.isnull().sum()

# Sort the columns by the number of missing values (in descending order)
missing_values_sorted = missing_values.sort_values(ascending=False)

# Print the columns with the highest number of missing values
print(missing_values_sorted)

AINextMuch less integrated    64309
AINextLess integrated         63102
AINextNo change               52955
AINextMuch more integrated    52018
EmbeddedAdmired               48718
                              ...
MainBranch                        0
Age                               0
Employment                        0
Check                             0
ResponseId                        0
Length: 114, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [42]:
## Write your code here

# Identify numerical columns
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns

# Impute missing values with the mean for all numerical columns
df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].mean())

# Print the updated df
print(df)

       ResponseId                                         MainBranch  \
0               1                     I am a developer by profession
1               2                     I am a developer by profession
2               3                     I am a developer by profession
3               4                              I am learning to code
4               5                     I am a developer by profession
...           ...                                                ...
65452       35588  I am not primarily a developer, but I write co...
65453       50580                     I am a developer by profession
65454        9938                     I am a developer by profession
65455       40874                     I am a developer by profession
65456       36796                     I am a developer by profession

                      Age                                         Employment  \
0      Under 18 years old                                Employed, full-time
1         35-44 years old                                Employed, full-time
2         45-54 years old                                Employed, full-time
3         18-24 years old                                 Student, full-time
4         18-24 years old                                 Student, full-time
...                   ...                                                ...
65452     18-24 years old             Student, full-time;Employed, part-time
65453     18-24 years old            Employed, full-time;Employed, part-time
65454     35-44 years old  Employed, full-time;Independent contractor, fr...
65455     25-34 years old                                Employed, full-time
65456   65 years or older                                            Retired

                                 RemoteWork   Check  \
0                                    Remote  Apples
1                                    Remote  Apples
2                                    Remote  Apples
3                                       NaN  Apples
4                                       NaN  Apples
...                                     ...     ...
65452                             In-person  Apples
65453                                Remote  Apples
65454  Hybrid (some remote, some in-person)  Apples
65455                                Remote  Apples
65456                                   NaN  Apples

                                        CodingActivities  \
0                                                  Hobby
1      Hobby;Contribute to open-source projects;Other...
2      Hobby;Contribute to open-source projects;Other...
3                                                    NaN
4                                                    NaN
...                                                  ...
65452  Hobby;Contribute to open-source projects;Schoo...
65453                      Hobby;Freelance/contract work
65454  Bootstrapping a business;School or academic wo...
65455                       I don’t code outside of work
65456                                                NaN

                                                 EdLevel  \
0                              Primary/elementary school
1           Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2        Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3      Some college/university study without earning ...
4      Secondary school (e.g. American high school, G...
...                                                  ...
65452  Some college/university study without earning ...
65453  Some college/university study without earning ...
65454    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
65455  Some college/university study without earning ...
65456  Some college/university study without earning ...

                                               LearnCode  \
0                                 Books / Physical media
1      Books / Physical media;Colleague;On the job tr...
2      Books / Physical media;Colleague;On the job tr...
3      Other online resources (e.g., videos, blogs, f...
4      Other online resources (e.g., videos, blogs, f...
...                                                  ...
65452  Other online resources (e.g., videos, blogs, f...
65453  Colleague;Other online resources (e.g., videos...
65454  Books / Physical media;On the job training;Oth...
65455  Books / Physical media;Other online resources ...
65456  Books / Physical media;School (i.e., Universit...

                                         LearnCodeOnline  ... JobSatPoints_6  \
0                                                    NaN  ...      24.339971
1      Technical documentation;Blogs;Books;Written Tu...  ...       0.000000
2      Technical documentation;Blogs;Books;Written Tu...  ...      24.339971
3      Stack Overflow;How-to videos;Interactive tutorial  ...      24.339971
4      Technical documentation;Blogs;Written Tutorial...  ...      24.339971
...                                                  ...  ...            ...
65452                                                NaN  ...      24.339971
65453  Technical documentation;Blogs;Written Tutorial...  ...      50.000000
65454  Technical documentation;Blogs;Books;Stack Over...  ...       0.000000
65455  Technical documentation;Blogs;Books;Stack Over...  ...       0.000000
65456                                                NaN  ...      24.339971

      JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0          22.964277      20.279127      16.167837       10.953481
1           0.000000       0.000000       0.000000        0.000000
2          22.964277      20.279127      16.167837       10.953481
3          22.964277      20.279127      16.167837       10.953481
4          22.964277      20.279127      16.167837       10.953481
...              ...            ...            ...             ...
65452      22.964277      20.279127      16.167837       10.953481
65453      50.000000      90.000000       0.000000        0.000000
65454      60.000000      60.000000      50.000000        0.000000
65455       0.000000       0.000000       0.000000        0.000000
65456      22.964277      20.279127      16.167837       10.953481

      JobSatPoints_11           SurveyLength                  SurveyEase  \
0            9.953618                    NaN                         NaN
1            0.000000                    NaN                         NaN
2            9.953618  Appropriate in length                        Easy
3            9.953618               Too long                        Easy
4            9.953618              Too short                        Easy
...               ...                    ...                         ...
65452        9.953618  Appropriate in length  Neither easy nor difficult
65453        0.000000               Too long                        Easy
65454       50.000000  Appropriate in length                        Easy
65455        0.000000  Appropriate in length  Neither easy nor difficult
65456        9.953618  Appropriate in length                        Easy

      ConvertedCompYearly    JobSat
0            86158.926569  6.934915
1            86158.926569  6.934915
2            86158.926569  6.934915
3            86158.926569  6.934915
4            86158.926569  6.934915
...                   ...       ...
65452        86158.926569  6.934915
65453        86158.926569  9.000000
65454          997.000000  4.000000
65455        86158.926569  6.000000
65456        86158.926569  6.934915

[65457 rows x 114 columns]

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [43]:
## Write your code here

# Identify categorical columns with object data type
categorical_columns = df.select_dtypes(include=['object']).columns

# Impute missing values in categorical columns with the most frequent value
for col in categorical_columns:
    most_frequent_value = df[col].mode()[0]  
    df[col] = df[col].fillna(most_frequent_value)

# 3. Print the updated DataFrame
print(df)

       ResponseId                                         MainBranch  \
0               1                     I am a developer by profession
1               2                     I am a developer by profession
2               3                     I am a developer by profession
3               4                              I am learning to code
4               5                     I am a developer by profession
...           ...                                                ...
65452       35588  I am not primarily a developer, but I write co...
65453       50580                     I am a developer by profession
65454        9938                     I am a developer by profession
65455       40874                     I am a developer by profession
65456       36796                     I am a developer by profession

                      Age                                         Employment  \
0      Under 18 years old                                Employed, full-time
1         35-44 years old                                Employed, full-time
2         45-54 years old                                Employed, full-time
3         18-24 years old                                 Student, full-time
4         18-24 years old                                 Student, full-time
...                   ...                                                ...
65452     18-24 years old             Student, full-time;Employed, part-time
65453     18-24 years old            Employed, full-time;Employed, part-time
65454     35-44 years old  Employed, full-time;Independent contractor, fr...
65455     25-34 years old                                Employed, full-time
65456   65 years or older                                            Retired

                                 RemoteWork   Check  \
0                                    Remote  Apples
1                                    Remote  Apples
2                                    Remote  Apples
3      Hybrid (some remote, some in-person)  Apples
4      Hybrid (some remote, some in-person)  Apples
...                                     ...     ...
65452                             In-person  Apples
65453                                Remote  Apples
65454  Hybrid (some remote, some in-person)  Apples
65455                                Remote  Apples
65456  Hybrid (some remote, some in-person)  Apples

                                        CodingActivities  \
0                                                  Hobby
1      Hobby;Contribute to open-source projects;Other...
2      Hobby;Contribute to open-source projects;Other...
3                                                  Hobby
4                                                  Hobby
...                                                  ...
65452  Hobby;Contribute to open-source projects;Schoo...
65453                      Hobby;Freelance/contract work
65454  Bootstrapping a business;School or academic wo...
65455                       I don’t code outside of work
65456                                              Hobby

                                                 EdLevel  \
0                              Primary/elementary school
1           Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2        Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3      Some college/university study without earning ...
4      Secondary school (e.g. American high school, G...
...                                                  ...
65452  Some college/university study without earning ...
65453  Some college/university study without earning ...
65454    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
65455  Some college/university study without earning ...
65456  Some college/university study without earning ...

                                               LearnCode  \
0                                 Books / Physical media
1      Books / Physical media;Colleague;On the job tr...
2      Books / Physical media;Colleague;On the job tr...
3      Other online resources (e.g., videos, blogs, f...
4      Other online resources (e.g., videos, blogs, f...
...                                                  ...
65452  Other online resources (e.g., videos, blogs, f...
65453  Colleague;Other online resources (e.g., videos...
65454  Books / Physical media;On the job training;Oth...
65455  Books / Physical media;Other online resources ...
65456  Books / Physical media;School (i.e., Universit...

                                         LearnCodeOnline  ... JobSatPoints_6  \
0      Technical documentation;Blogs;Written Tutorial...  ...      24.339971
1      Technical documentation;Blogs;Books;Written Tu...  ...       0.000000
2      Technical documentation;Blogs;Books;Written Tu...  ...      24.339971
3      Stack Overflow;How-to videos;Interactive tutorial  ...      24.339971
4      Technical documentation;Blogs;Written Tutorial...  ...      24.339971
...                                                  ...  ...            ...
65452  Technical documentation;Blogs;Written Tutorial...  ...      24.339971
65453  Technical documentation;Blogs;Written Tutorial...  ...      50.000000
65454  Technical documentation;Blogs;Books;Stack Over...  ...       0.000000
65455  Technical documentation;Blogs;Books;Stack Over...  ...       0.000000
65456  Technical documentation;Blogs;Written Tutorial...  ...      24.339971

      JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0          22.964277      20.279127      16.167837       10.953481
1           0.000000       0.000000       0.000000        0.000000
2          22.964277      20.279127      16.167837       10.953481
3          22.964277      20.279127      16.167837       10.953481
4          22.964277      20.279127      16.167837       10.953481
...              ...            ...            ...             ...
65452      22.964277      20.279127      16.167837       10.953481
65453      50.000000      90.000000       0.000000        0.000000
65454      60.000000      60.000000      50.000000        0.000000
65455       0.000000       0.000000       0.000000        0.000000
65456      22.964277      20.279127      16.167837       10.953481

      JobSatPoints_11           SurveyLength                  SurveyEase  \
0            9.953618  Appropriate in length                        Easy
1            0.000000  Appropriate in length                        Easy
2            9.953618  Appropriate in length                        Easy
3            9.953618               Too long                        Easy
4            9.953618              Too short                        Easy
...               ...                    ...                         ...
65452        9.953618  Appropriate in length  Neither easy nor difficult
65453        0.000000               Too long                        Easy
65454       50.000000  Appropriate in length                        Easy
65455        0.000000  Appropriate in length  Neither easy nor difficult
65456        9.953618  Appropriate in length                        Easy

      ConvertedCompYearly    JobSat
0            86158.926569  6.934915
1            86158.926569  6.934915
2            86158.926569  6.934915
3            86158.926569  6.934915
4            86158.926569  6.934915
...                   ...       ...
65452        86158.926569  6.934915
65453        86158.926569  9.000000
65454          997.000000  4.000000
65455        86158.926569  6.000000
65456        86158.926569  6.934915

[65457 rows x 114 columns]

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [44]:
## Write your code here

# min and max values of the 'ConvertedCompYearly' column
min_value = df['ConvertedCompYearly'].min()
max_value = df['ConvertedCompYearly'].max()

# Apply Min-Max scaling
df['ConvertedCompYearly_scaled'] = (df['ConvertedCompYearly'] - min_value) / (max_value - min_value)

# Print the updated df with the normalized column
print(df)

       ResponseId                                         MainBranch  \
0               1                     I am a developer by profession
1               2                     I am a developer by profession
2               3                     I am a developer by profession
3               4                              I am learning to code
4               5                     I am a developer by profession
...           ...                                                ...
65452       35588  I am not primarily a developer, but I write co...
65453       50580                     I am a developer by profession
65454        9938                     I am a developer by profession
65455       40874                     I am a developer by profession
65456       36796                     I am a developer by profession

                      Age                                         Employment  \
0      Under 18 years old                                Employed, full-time
1         35-44 years old                                Employed, full-time
2         45-54 years old                                Employed, full-time
3         18-24 years old                                 Student, full-time
4         18-24 years old                                 Student, full-time
...                   ...                                                ...
65452     18-24 years old             Student, full-time;Employed, part-time
65453     18-24 years old            Employed, full-time;Employed, part-time
65454     35-44 years old  Employed, full-time;Independent contractor, fr...
65455     25-34 years old                                Employed, full-time
65456   65 years or older                                            Retired

                                 RemoteWork   Check  \
0                                    Remote  Apples
1                                    Remote  Apples
2                                    Remote  Apples
3      Hybrid (some remote, some in-person)  Apples
4      Hybrid (some remote, some in-person)  Apples
...                                     ...     ...
65452                             In-person  Apples
65453                                Remote  Apples
65454  Hybrid (some remote, some in-person)  Apples
65455                                Remote  Apples
65456  Hybrid (some remote, some in-person)  Apples

                                        CodingActivities  \
0                                                  Hobby
1      Hobby;Contribute to open-source projects;Other...
2      Hobby;Contribute to open-source projects;Other...
3                                                  Hobby
4                                                  Hobby
...                                                  ...
65452  Hobby;Contribute to open-source projects;Schoo...
65453                      Hobby;Freelance/contract work
65454  Bootstrapping a business;School or academic wo...
65455                       I don’t code outside of work
65456                                              Hobby

                                                 EdLevel  \
0                              Primary/elementary school
1           Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2        Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3      Some college/university study without earning ...
4      Secondary school (e.g. American high school, G...
...                                                  ...
65452  Some college/university study without earning ...
65453  Some college/university study without earning ...
65454    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
65455  Some college/university study without earning ...
65456  Some college/university study without earning ...

                                               LearnCode  \
0                                 Books / Physical media
1      Books / Physical media;Colleague;On the job tr...
2      Books / Physical media;Colleague;On the job tr...
3      Other online resources (e.g., videos, blogs, f...
4      Other online resources (e.g., videos, blogs, f...
...                                                  ...
65452  Other online resources (e.g., videos, blogs, f...
65453  Colleague;Other online resources (e.g., videos...
65454  Books / Physical media;On the job training;Oth...
65455  Books / Physical media;Other online resources ...
65456  Books / Physical media;School (i.e., Universit...

                                         LearnCodeOnline  ... JobSatPoints_7  \
0      Technical documentation;Blogs;Written Tutorial...  ...      22.964277
1      Technical documentation;Blogs;Books;Written Tu...  ...       0.000000
2      Technical documentation;Blogs;Books;Written Tu...  ...      22.964277
3      Stack Overflow;How-to videos;Interactive tutorial  ...      22.964277
4      Technical documentation;Blogs;Written Tutorial...  ...      22.964277
...                                                  ...  ...            ...
65452  Technical documentation;Blogs;Written Tutorial...  ...      22.964277
65453  Technical documentation;Blogs;Written Tutorial...  ...      50.000000
65454  Technical documentation;Blogs;Books;Stack Over...  ...      60.000000
65455  Technical documentation;Blogs;Books;Stack Over...  ...       0.000000
65456  Technical documentation;Blogs;Written Tutorial...  ...      22.964277

      JobSatPoints_8 JobSatPoints_9 JobSatPoints_10 JobSatPoints_11  \
0          20.279127      16.167837       10.953481        9.953618
1           0.000000       0.000000        0.000000        0.000000
2          20.279127      16.167837       10.953481        9.953618
3          20.279127      16.167837       10.953481        9.953618
4          20.279127      16.167837       10.953481        9.953618
...              ...            ...             ...             ...
65452      20.279127      16.167837       10.953481        9.953618
65453      90.000000       0.000000        0.000000        0.000000
65454      60.000000      50.000000        0.000000       50.000000
65455       0.000000       0.000000        0.000000        0.000000
65456      20.279127      16.167837       10.953481        9.953618

                SurveyLength                  SurveyEase ConvertedCompYearly  \
0      Appropriate in length                        Easy        86158.926569
1      Appropriate in length                        Easy        86158.926569
2      Appropriate in length                        Easy        86158.926569
3                   Too long                        Easy        86158.926569
4                  Too short                        Easy        86158.926569
...                      ...                         ...                 ...
65452  Appropriate in length  Neither easy nor difficult        86158.926569
65453               Too long                        Easy        86158.926569
65454  Appropriate in length                        Easy          997.000000
65455  Appropriate in length  Neither easy nor difficult        86158.926569
65456  Appropriate in length                        Easy        86158.926569

         JobSat ConvertedCompYearly_scaled
0      6.934915                   0.005300
1      6.934915                   0.005300
2      6.934915                   0.005300
3      6.934915                   0.005300
4      6.934915                   0.005300
...         ...                        ...
65452  6.934915                   0.005300
65453  9.000000                   0.005300
65454  4.000000                   0.000061
65455  6.000000                   0.005300
65456  6.934915                   0.005300

[65457 rows x 115 columns]

/tmp/ipykernel_301/3160870904.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['ConvertedCompYearly_scaled'] = (df['ConvertedCompYearly'] - min_value) / (max_value - min_value)

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [50]:
## Write your code here

import numpy as np

# Apply log transformation to the 'ConvertedCompYearly' column
df['ConvertedCompYearly_log'] = np.log(df['ConvertedCompYearly'])

# Print the updated DataFrame with the log-transformed column
print(df)

       ResponseId                                         MainBranch  \
0               1                     I am a developer by profession
1               2                     I am a developer by profession
2               3                     I am a developer by profession
3               4                              I am learning to code
4               5                     I am a developer by profession
...           ...                                                ...
65452       35588  I am not primarily a developer, but I write co...
65453       50580                     I am a developer by profession
65454        9938                     I am a developer by profession
65455       40874                     I am a developer by profession
65456       36796                     I am a developer by profession

                      Age                                         Employment  \
0      Under 18 years old                                Employed, full-time
1         35-44 years old                                Employed, full-time
2         45-54 years old                                Employed, full-time
3         18-24 years old                                 Student, full-time
4         18-24 years old                                 Student, full-time
...                   ...                                                ...
65452     18-24 years old             Student, full-time;Employed, part-time
65453     18-24 years old            Employed, full-time;Employed, part-time
65454     35-44 years old  Employed, full-time;Independent contractor, fr...
65455     25-34 years old                                Employed, full-time
65456   65 years or older                                            Retired

                                 RemoteWork   Check  \
0                                    Remote  Apples
1                                    Remote  Apples
2                                    Remote  Apples
3      Hybrid (some remote, some in-person)  Apples
4      Hybrid (some remote, some in-person)  Apples
...                                     ...     ...
65452                             In-person  Apples
65453                                Remote  Apples
65454  Hybrid (some remote, some in-person)  Apples
65455                                Remote  Apples
65456  Hybrid (some remote, some in-person)  Apples

                                        CodingActivities  \
0                                                  Hobby
1      Hobby;Contribute to open-source projects;Other...
2      Hobby;Contribute to open-source projects;Other...
3                                                  Hobby
4                                                  Hobby
...                                                  ...
65452  Hobby;Contribute to open-source projects;Schoo...
65453                      Hobby;Freelance/contract work
65454  Bootstrapping a business;School or academic wo...
65455                       I don’t code outside of work
65456                                              Hobby

                                                 EdLevel  \
0                              Primary/elementary school
1           Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2        Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3      Some college/university study without earning ...
4      Secondary school (e.g. American high school, G...
...                                                  ...
65452  Some college/university study without earning ...
65453  Some college/university study without earning ...
65454    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
65455  Some college/university study without earning ...
65456  Some college/university study without earning ...

                                               LearnCode  \
0                                 Books / Physical media
1      Books / Physical media;Colleague;On the job tr...
2      Books / Physical media;Colleague;On the job tr...
3      Other online resources (e.g., videos, blogs, f...
4      Other online resources (e.g., videos, blogs, f...
...                                                  ...
65452  Other online resources (e.g., videos, blogs, f...
65453  Colleague;Other online resources (e.g., videos...
65454  Books / Physical media;On the job training;Oth...
65455  Books / Physical media;Other online resources ...
65456  Books / Physical media;School (i.e., Universit...

                                         LearnCodeOnline  ... JobSatPoints_8  \
0      Technical documentation;Blogs;Written Tutorial...  ...      20.279127
1      Technical documentation;Blogs;Books;Written Tu...  ...       0.000000
2      Technical documentation;Blogs;Books;Written Tu...  ...      20.279127
3      Stack Overflow;How-to videos;Interactive tutorial  ...      20.279127
4      Technical documentation;Blogs;Written Tutorial...  ...      20.279127
...                                                  ...  ...            ...
65452  Technical documentation;Blogs;Written Tutorial...  ...      20.279127
65453  Technical documentation;Blogs;Written Tutorial...  ...      90.000000
65454  Technical documentation;Blogs;Books;Stack Over...  ...      60.000000
65455  Technical documentation;Blogs;Books;Stack Over...  ...       0.000000
65456  Technical documentation;Blogs;Written Tutorial...  ...      20.279127

      JobSatPoints_9 JobSatPoints_10 JobSatPoints_11           SurveyLength  \
0          16.167837       10.953481        9.953618  Appropriate in length
1           0.000000        0.000000        0.000000  Appropriate in length
2          16.167837       10.953481        9.953618  Appropriate in length
3          16.167837       10.953481        9.953618               Too long
4          16.167837       10.953481        9.953618              Too short
...              ...             ...             ...                    ...
65452      16.167837       10.953481        9.953618  Appropriate in length
65453       0.000000        0.000000        0.000000               Too long
65454      50.000000        0.000000       50.000000  Appropriate in length
65455       0.000000        0.000000        0.000000  Appropriate in length
65456      16.167837       10.953481        9.953618  Appropriate in length

                       SurveyEase ConvertedCompYearly    JobSat  \
0                            Easy        86158.926569  6.934915
1                            Easy        86158.926569  6.934915
2                            Easy        86158.926569  6.934915
3                            Easy        86158.926569  6.934915
4                            Easy        86158.926569  6.934915
...                           ...                 ...       ...
65452  Neither easy nor difficult        86158.926569  6.934915
65453                        Easy        86158.926569  9.000000
65454                        Easy          997.000000  4.000000
65455  Neither easy nor difficult        86158.926569  6.000000
65456                        Easy        86158.926569  6.934915

      ConvertedCompYearly_scaled ConvertedCompYearly_log
0                       0.005300               11.363949
1                       0.005300               11.363949
2                       0.005300               11.363949
3                       0.005300               11.363949
4                       0.005300               11.363949
...                          ...                     ...
65452                   0.005300               11.363949
65453                   0.005300               11.363949
65454                   0.000061                6.904751
65455                   0.005300               11.363949
65456                   0.005300               11.363949

[65457 rows x 116 columns]

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [54]:
## Write your code here

# Function to assign Experience Level based on YearsCodePro
def assign_experience_level(years):
    if years <= 2:
        return 'Beginner'
    elif 3 <= years <= 5:
        return 'Intermediate'
    else:
        return 'Advanced'

# Apply the function to create the 'ExperienceLevel' column
df['ExperienceLevel'] = df['YearsCodePro'].apply(assign_experience_level)

# Print the updated DataFrame
print(df['ExperienceLevel'])

TypeError: '<=' not supported between instances of 'str' and 'int'

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.